<html>
<head>
   
    <title>Document</title>
</head>
<body>
    
   <form action="/add" method="post">
 
       <input type="text" name="productid" placeholder="Productid">
       <input type="text" name="quantity" placeholder="quantity">
       <button type="submit">AddData</button>
   </form>
       <form action="/delete" method="post">

        <button type="submit">Delete</button>
       </form>
       
</body>
</html>